body{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    overflow: hidden; 
}



/* COMMON */
.hidden {
    display: none !important;
    transition: all 1s;
}
.inner{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.black{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
#bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.material-icons{
    font-size: 16px !important;
}



/* CLOCK */
#clock{
    font-size: 100px;
    color: rgb(200, 200, 200);
    margin-top: 15%;
    margin-bottom: 10px;
    text-align: center;
}



/* LOGIN */
#login-form{
    
}
#login-form input{
    display: block;
}
#login-form input:first-child{
    width: 40%;
    margin: 0 auto;
    height: 50px;
    
    font-size: 20px;
    color: #fff;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
}
#login-form input:first-child::placeholder{
    color: #fff;
}
#login-form input:last-child{
    margin: 30px auto;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: color .7s;
}
#login-form input:last-child:hover{
    color: #fff;
    background-color: rgb(69, 69, 69);
}



/* GREETING */
#greeting{
    text-align: center;
    margin-top: 0;
    color: rgb(150, 150, 150);
}



/* TODO-LIST */
#todo-form{
    display: flex;
}
#todo-form input{
    width: 70%;
    margin: 0 auto;
    height: 50px;
    
    font-size: 20px;
    color: #fff;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
}
#todo-form input:focus::placeholder{
    color: transparent;
}
#todo-form input::placeholder{
    color: #fff;
}

.todo-box{
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(200, 200, 200, 0.3);
    max-height: 350px;
    overflow: scroll;
    margin: 30px auto;
}
#todo-list{
    /* list-style: decimal; */
    padding: 0 20px;
}
#todo-list li{
    margin: 3px 0;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    
}

#todo-list li button{
    font-size: 13px;
    width: 50px;
    position: absolute;
    right: 0;
    color: #fff;
    height: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
}
#todo-list li button:hover{
    background-color: rgba(0, 0, 0, 1);
}



/* QUOTE */
#quote{
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;   
    /* margin: 0 auto; */
    background-color: rgba(200, 200, 200, 0.15);
    border-radius: 10px 10px 0 0;
    padding-bottom: 20px;
    margin-left: -25%;
}
#quote span{
    display: block;
    padding: 3px;
    text-align: center;
}
#quote span:first-child{
    display: block;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s;
}
#quote span:first-child:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
#quote span:nth-child(2){
    padding-top: 20px;
}



/* WEATHER */
#weather{
    position: absolute;
    right: 30px;
    top: 30px;
}
#weather span{
    font-size: 13px;
    display: block;
    padding: 1px;
    color: rgb(200, 200, 200);
}
#weather span:first-child{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    /* padding: 5px 0; */
    border-bottom: 1px solid rgb(200, 200, 200);
}
#weather span:nth-child(2){
    padding-top: 8px;
}



/* LOGOUT */
#logout{
    position: absolute;
    left: 30px;
    top: 30px;
}
#logout button{
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
    background-color: rgba(200, 200, 200, .3);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: color .7s;
}
#logout button:hover{
    background-color: rgba(200, 200, 200, .7);
    color: #000;
}